/* CSS for workout menu */

.generate-button-class{
  position: relative;
  text-align: center;
}

.generate-button{
  border-radius: 15px;
  position: relative;
  text-align: center;
  bottom: -20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 90px;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}
.close-generated-button{
  background-color: red;
}

.random-text-center{
    position: relative;
    text-align: center;
    bottom: -45px;
}
.challenge-container{
    display: none;
    width: auto;
    padding: 20px; /* Or 4% */
    margin: 0 auto 0 auto;
    text-align: center;
}
.challenge-menu-box{
    bottom: -20px;
    width: 43%;
    position: relative;
    left: 450px;
    text-align: left;
    margin: 2%;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    border-color: black;
    border: solid;
}

.challenge-menu-img{
    width: 20%;
    float: left;
    object-fit: contain;
}

.challenge-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.challenge-detail{
    font-size: 15px;
    margin: 2% 0;
    color: gray;
}

@media only screen and (max-width:1000px){
    .challenge-menu-box{
        left: 0px;
    }

    .challenge-menu-desc{
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (max-width:795px){
    .generate-button{
        bottom: -20px;
      }
      
    .challenge-menu-box{
        left: 0px;
    }

    .challenge-menu{
        padding: 20% auto;
    }

    .challenge-menu-box{
        width: auto;
        padding: 5%;
        margin-bottom: 5%;
    }

    .challenge-menu-img{
        width: auto;
        float: left;
        object-fit: contain;
    }

    .challenge-menu-desc{
        width: 70%;
        float: left;
        margin-left: 8%;
    }
    
    .challenge-detail{
        font-size: 15px;
        margin: 2% 0;
        color: gray;
    }
}

@media only screen and (max-width:758px){
    .generate-button{
        position: relative;
        bottom: -36px;
      }
      

    .challenge-menu-box{
    
        left: 0px;
    }

    .challenge-menu-desc{
        width: 60%;
        float: left;
        margin-left: 10%;
    }
}

@media only screen and (max-width:555px){
    .generate-button{
        position: relative;
        bottom: -36px;
      }
      
    .challenge-menu-box{
        left: 0px;
    }

    .challenge-menu-desc{
        width: 40%;
        float: left;
        margin-left: 20%;
    }
}


@media only screen and (max-width:425px){
    .generate-button{
        position: relative;
        bottom: -36px;
      }
      
    .challenge-menu-box{
        left: 0px;
    }

    .challenge-menu-desc{
        width: 50%;
        margin-left: 10%;
    }

    .challenge-detail{
        font-size: 10px;
    }
}