@import url("bmi-container.css");
.main-wrapper{
    width: auto;
    height: auto;
}
.bmi-heads{
    background: #A9A9A9;
    display: -webkit-flex;
    align-items: center;
}
.bmi-heads .bmi-head{
    padding: 1rem 1.6rem;
    width: 100%;
    cursor: pointer;
}
.active-head{
    background: #696969;
}
.bmi-content{
    padding: 2rem;
}
.form-group{
    color: #fff;
    font-size: large;
    padding: 0.55rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.form-group.col-3{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}
.form-control{
    width: 100%;
    font-size: 1.15rem;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    margin: 0.2rem 0;
    border: 1.5px solid #000;
    border-radius: 4px;
}
.form-control:focus{
    outline: 0;
}
.form-control::placeholder{
    text-align: right;
    opacity: 0.6;
}
.btns{
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns .btn{
    width: 140px;
    margin: 0 0.5rem;
    padding: 0.8rem 0;
    font-family: inherit;
    font-size: 1.15rem;
    border: none;
    background: #A9A9A9;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 0.5px;
}
.btns .btn:hover{
    color: white;
    background-color: #696969;
}
.btns .btn:focus{
    outline: 0;
}
#bmi-usc, #bmi-si{
    display: none;
}
/* js related */
.show-bmi{
    display: block!important;
}
.alert-error{
    text-align: center;
    padding: 1rem 1.6rem 0;
    color: #fff;
    display: none;
}
.bmi-output{
    color: #fff;
    padding: 1rem 1.6rem;
    text-align: center;
}
#bmi-value{
    padding-bottom: 0.4rem;
}
#bmi-category{
    color: #fff;
}
#bmi-gender{
    text-transform: capitalize;
}