/* 
    Author: Veliau Industries;
    Theme: Workout Learning Webpage;
    Version: 0.1;
*/

/* CSS for all */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px; /* Or 2% */
}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: gray;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #A9A9A9;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    background-color: #696969;
}

h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3{
    font-size: 1.5rem;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

/* CSS for navbar */

.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 90px;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS for search */

.search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7% 0;
}

.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* CSS for categories */

.category{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/* CSS for workout menu */

.workout-menu{
    background-color: #ececec;
    padding: 4% 0;
}

.workout-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.workout-menu-img{
    width: 20%;
    float: left;
}

.workout-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.workout-detail{
    font-size: 1rem;
    margin: 2% 0;
    color: gray;
}

/* CSS for social */

.social{
    list-style-type: none;
}

.social ul li{
    display: inline;
    padding: 1%;
}

/* CSS for mobile size */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .search input[type="search"]{
        width: 90%;
        padding: 1%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .search{
        padding: 10% 0;
    }

    .category{
        padding: 20% 0;
    }

    h2{
        margin-bottom: 10%;
    }

    .box-3{
        width: 90%;
        margin: 4% auto;
    }

    .workout-menu{
        padding: 20% auto;
    }

    .workout-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }

    .social{
        padding: 5% 0;
    }
}